<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/simplebar.css">
    <link rel="stylesheet" href="css/fullpage.css">
    <link rel="stylesheet" href="css/style.css?v1">
    <title></title>
  </head>
  <body>
    <header class="header">
      <div class="container header__row">
        <div class="header__logo"><a href="#"><img src="img/logo-gold.png" alt="logo" id="logoWhite"><img src="img/logo-gold-black.png" alt="logo-black" style="display: none" id="logoBlack"></a></div>
        <div class="header__col">
          <nav class="header__nav">
            <div class="header__item"><a href="#">Услуги</a></div>
            <div class="header__item"><a href="#">Акции</a></div>
            <div class="header__item"><a href="#">Наша атмосфера</a></div>
            <div class="header__item"><a href="#">О нас</a></div>
            <div class="header__item"><a href="#">Контакты</a></div>
          </nav>
          <div class="header__btn js-header__btn"><a href="#">запись онлайн</a></div>
        </div>
      </div>
    </header>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/simplebar.js"></script>
    <script src="js/jquery.inputmask.min.js"></script>
    <script src="js/fullpage.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/main.js?v2"></script>
  </body>
</html>